body {
	color:#fff;
	background-image: url(image/фото3.png);
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
		margin:0;
		font-family: "Montserrat", sans-serif;
		font-size:15px;
		line-height:1.6;
		color:#fff;
	}
*,
*:before,
*:after {
	box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
}
.container {
	width:100%;
	max-width:1200px;
	margin:0 auto;
}
.intro-title {
		color:#fff;
		font-size:70px;
		font-weight:700;
		text-transform: uppercase;
		line-height:1;
		text-align:center;
		margin-top:50px;
	}
	.text_adres {
	font-size: 30px;
	text-transform: uppercase;
	text-align:center;
	color:white;
}
.me {
	font-size:30px;
	text-transform: uppercase;
	color:#fff;
	text-align:center;
}
.header {
	width:100%;
	padding-top:30px;
	position:fixed;
	z-index: 3;
	background:#002137;
}
.header_inner {
	display:flex;
	justify-content:space-between;
	align-items: center; 
}
.header_logo {
	font-size:30px;
	font-weight:700;
	color:#fff;
}
.nav {
font-size: 14px;
text-transform: uppercase;
}
.nav_link {
	color:#fff;
	text-decoration:none;
	display: inline-block;
	vertical-align:top;
	transition:color .2s linear;
	margin:0 15px;
}
.nav_link::after {
	content: '';
	display:block;
	width:100%;
	height:3px; 
	background-color:#fff;
	position:absolute;
	top:100%;
	left:0;
	z-index:1;
}
.nav_link:hover {
color:red;
}
#content {
    width: 500px; 
    margin: 0 auto 50px; 
   }
   #footer {
    position: fixed;
    left: 0; bottom: 0; 
    padding: 10px;
    background:  #002137; 
    color: #fff; 
    width: 100%; 
   }
   ul {
	list-style: none; 
	margin: 0;
	text-align: center;
	
  }
  a {
	text-decoration: none;
	color:#fff;
	 text-align: center;
  
  }
  a:focus {
	  color: red;
	  text-align: center;
	
  }		
	